body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}
.mdl-navigation hr {
  border-color: rgba(0, 0, 0, 0.12);
  margin: 4px 0 3px;
}
.mdl-navigation a .material-icons {
  margin-right: 12px;
}
.mdl-layout__drawer header.x-auhenticated {
  background-image: linear-gradient(to bottom right, #b5b5b5, #f3f3f3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
  background-color: #efefef;
  position: relative;
}
.mdl-layout__drawer header.x-auhenticated:before {
  content: url(../img/waves.svg);
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 240px;
}
.mdl-layout__drawer header.x-auhenticated img.x-avatar {
  height: 48px;
  width: 48px;
  border: 2px solid white;
}
.mdl-layout__drawer header.x-auhenticated .x-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
span.mdl-username {
  width: 171px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mdl-layout__drawer header.x-unauhenticated {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 60px;
  background-color: rgb(0, 150, 136);
  position: relative;
}
.mdl-layout__drawer header.x-unauhenticated span {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  color : white;
  position: absolute;
  top : 0;
  line-height: 60px;
}
.mdl-layout__drawer header.x-unauhenticated .x-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.mdl-layout__drawer header.x-unauhenticated .mdl-button {
  color: white;
}
.mdl-circle {
  border-radius: 50%;
}
.demo-layout-transparent {
  background: url("https://getmdl.io/assets/demos/transparent.jpg") center /
    cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}


.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
  padding-top: 0px;
  font-size: 13px;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #37474f;
}
.demo-drawer::-webkit-scrollbar
{
  width: 8px;
}
.demo-drawer::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
  box-shadow: inset 0 0 4px rgba(0,0,0,.3);
  background-color: #1e272b;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}


.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mdl-list_full {
  width: 100%
}

/*
.x-small-text {
  font-size: small !important;
}
.x-nav {
  margin: 0 auto;
}
main {
  padding-left: 0px;
}
@media only screen and (min-width: 601px) {
  .x-nav {
    width: 85%;
  }
  .x-private-sindenav {
    top: 64px !important;
    height: calc(100% - 64px) !important;
  }
}
@media only screen and (min-width: 993px) {
  .x-nav {
    width: 70%;
  }
  main {
    padding-left: 300px;
  }
}
.x-nav-parent {
  overflow: hidden;
  position: relative;
}
.x-nav-header {
  clear: both;
  padding: 40px 0;
}
.x-nav-background {
  right: 0;
  left: 0;
  top: 0;
  height: 392px;
  position: absolute;
  opacity: 0.1;
}
.x-nav-dropdown:after {
  font-family: "Material Icons";
  content: "\e313";
  position: absolute;
}
.x-thumb-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  top: 11px;
  right: 4px;
  border: #f6fff5 2px solid;
}
.x-fixed-menu {
  position: absolute;
  top: 12px;
  left: 12px;
}
.x-social-google {
  background-image: url(/img/collection-social-dark.png);
  background-position: -728px 10px;
  background-size: 396px 316px;
}

.x-nav-menu {
  padding-left: 320px;
}
@media only screen and (max-width: 992px) {
  .x-nav-menu {
    padding-left: 20px;
  }
}

.x-summary {
  height: 160px;
}
.x-summary .x-summary-icon {
  width: 40%;
  height: 100%;
  line-height: 200px;
}
.x-summary .x-summary-icon i {
  font-size: 40px;
}
.x-summary .x-summary-text {
  width: 60%;
  height: 100%;
  padding: 5px;
}

.x-private-loader {
  position: absolute;
  width: calc(100% - 300px);
  height: calc(100% - 64px);
  top: 64px;
  left: 300px;
  z-index: 998;
  overflow: hidden;
}
.x-private-loader #overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.1;
  position: absolute;
}
.x-private-loader .preloader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@media only screen and (min-width: 993px) {
  .x-private-loader {
    width: calc(100% - 300px);
    left: 300px;
    height: 100%;
    top: 0;
  }
}
@media only screen and (min-width: 602px) and (max-width: 992px) {
  .x-private-loader {
    width: 100%;
    left: 0;
    height: calc(100% - 64px);
    top: 64px;
  }
}
@media only screen and (max-width: 601px) {
  .x-private-loader {
    width: 100%;
    left: 0;
    height: calc(100% - 56px);
    top: 56px;
  }
}
*/