@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } @else if ($horizontal) {
      left: 50%;
      transform: translate(-50%, 0);
    } @else if ($vertical) {
      top: 50%;
      transform: translate(0, -50%);
    }
  }

@mixin rounded() {
  border-radius: 50%;  
}

@mixin avatar() {
  @include rounded();
}

@mixin justify_right() {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

@mixin text-elevation($elevation : 2) {
  $shadow : $elevation + px; 
  text-shadow: $shadow $shadow 4px #2f2f2f;
}