$mdc-theme-primary: #556560;
$mdc-theme-primary-dark: #515f5a;
$mdc-theme-secondary: #FD5523;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-typography-font-family: "Raleway", sans-serif;

$oricom_secondary-font-family : "Roboto", sans-serif;

//current theme color
$item-activated-color : grey;
$color-for-dark-background : white;

$break-small: 599px;
$break-medium: 768px;

//@import "@material/theme/mdc-theme";

@import "_mixins.scss";
//@import "@material/drawer/_mixins.scss";

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/typography/mdc-typography";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/fab/mdc-fab";
@import "@material/icon-button/mdc-icon-button";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/mdc-text-field";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/floating-label/mdc-floating-label";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/chips/mdc-chips";
@import "@material/linear-progress/mdc-linear-progress";

body {
    margin : 0px;
}

.avatar { 
    @include avatar();
}
.avatar-small {
    @include avatar();
    width: 24px;
    height: 24px;
}
.avatar-large {
    @include avatar();
    width: 110px;
    height: 110px;
}

.align-horizontal {
    display: flex;
    justify-content: center;
    text-align: center;
}
.align-vertical {
    display: flex;
    align-items:center;
}
.align-vertical-10 {
    display: flex;
    align-items:center;
    & > * {
        margin: 0 5px 0 0;
    }
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fill-background {
    background-position: center;
    background-size: cover;
}

.text-ellipsis {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.flex-container {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-right {
    justify-content: flex-end;
}
.flex-left {
    justify-content: flex-start;
}
.flex-bottom {
    & > * {
        align-self: flex-end
    }
}
.flex-top {
    & > * {
        align-self: flex-start
    }
}

.section-container {
    max-width: 900px;
    margin: 0 auto;
    & > header {
        font-family: 'Amatic SC', cursive;
        font-size: 35px;
        -webkit-font-smoothing: antialiased;
        color : #464646;    
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 20px;
    }
    & > section {
        margin-bottom : 12px;
    }
    @media screen and (max-width: 910px) {
        padding: 10px;
    }
}
.section-action {
    background-color: #ececec;
    height: 50px;
    & > * {
        margin: 6px;
    }
}
.section-divider-bottom {
    position : relative;
    height: 60px;
    margin-bottom: -30px;
    z-index: -1;
    clip-path: polygon(
      0 0,
      100% 0,
      0 100%,
    );
}
.section-divider-top {
    position : relative;
    height: 60px;
    margin-top: -30px;
    z-index: -1;
    clip-path: polygon(
      0 100%,
      100% 100%,
      100% 0,
    );
}

//material design components upgraded
.mdc-text-field__autosize {
    width: 50%;
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
//---------------------------------------

.mdc-drawer {
    @include mdc-drawer-item-shape-radius(0);
    @include mdc-drawer-activated-overlay-color($item-activated-color);
}
.mdc-drawer__header-unauthorized {
    height: 110px;
    margin-bottom: 28px;
    position : relative;
    #action-login {
        position : absolute;
        bottom: -28px;
        right: 15px;
    }
}
.mdc-drawer__header-authorized {
    height: 98px;
    margin-bottom: 28px;
    position : relative;
    text-align: center;
    .image-avatar {
        width: $mdc-fab-height;
        height: $mdc-fab-height;
        border: solid 1px white;
        position : absolute;
        bottom : -28px;
        @include avatar();
        @include mdc-elevation(0);
        @include centerer(true, false)
    }
}
.mdc-layout__content {
    overflow: auto;
    height: 100%;
    padding-top : $mdc-top-app-bar-row-height;
    width: 100%;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
}
.form-element {
    @include mdc-elevation(2);
    border-radius: 3px;
}

%oricom_expanded-menu-user {
    font-family: 'Amatic SC', cursive;
    -webkit-font-smoothing: antialiased;
    color : $mdc-theme-on-primary;
    height: 207px;
    width: 100%;
    top : 0px;
    position: absolute;
    background-color: $mdc-theme-primary-dark;
    margin-top: 64px;
    transition: top 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
    @media screen and (max-width: $break-small) {
        margin-top: 56px;
    }
}
.oricom_expanded-menu-user__hidden {
    @extend %oricom_expanded-menu-user;
    top : -271px;
}
.oricom_expanded-menu-user__visible {
    @extend %oricom_expanded-menu-user;
    top : 0px;
}
%oricom_expanded-menu-user > div a {
    display: inline-flex;
    color : white;
    font-size: 37px;
    text-decoration: none;
    transition: background-color 500ms linear, color 500ms linear;
    display: block;
    padding-left: 42px;
}
%oricom_expanded-menu-user > div a:hover {
	background-color: #38403d;
}
%oricom_expanded-menu-user .material-icons {
    font-size: 24px;
    line-height: 69px;
    margin: 0 20px;
}
.mdc-button--primary {
    background-color: $mdc-theme-secondary !important;
}
.mdc-dialog {
    background-color: $mdc-theme-primary;
    .mdc-dialog__title-extended {
        color: $mdc-theme-on-primary;
        margin-top: -46px;
        text-align: center;
    }
}

.oricom_icon-google {
    background-image: url(/img/collection-social-dark.png);
    background-position: -720px 7px;
    background-size: 396px 316px;
}

.oricom_headerbar {
    width: 100%;
    height: 210px;
    background-color: $mdc-theme-primary-dark;
    position : relative;
    background-position: center;
    background-size: cover;
}

.oricom_user-headerbar {
    margin-bottom: 60px;
    .avatar-large {
        @include centerer(true, false);
        border: 4px solid white;
        bottom : -55px;
    }
    .oricom_user-details {
        @include centerer(true, true);
        color : $mdc-theme-on-primary;    
        display: inline-grid;
        text-align: center;
        @include text-elevation(2);
    }
}
.oricom_header-adjust {
    height: 64px;
    width: 100%;
    @media screen and (max-width: $break-small) {
        height: 56px;
    }
}
.oricom_user-container {
    & > section {
        margin-bottom : 10px;
        margin-top : 10px;
    }
    .oricom_user-actions button {
        @include justify_right();
    }
    .mdc-text-field-helper-text {
        font-size: 0.78rem;
    }
}

.grid-small {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.grid-thumb-small {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
}
.grid-thumb-active {
    border: 1px solid #c1c1c1;
    @include mdc-elevation(1);
}
.grid-thumb-dashed {
    background-color: white;
    border: 1px dashed #c1c1c1;
}
.oricom_user-novel_thumb_new {
    background-color: white;
    border: 1px dashed #c1c1c1;
    & i {
        font-size: 66px;
        color: #f1f0ef;
        @include centerer(true, true)
    }
    & h1 {
        text-align: center;
        margin: 10px;
    }
    transition: background-color 250ms;
    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 5px solid #f1f0ef;
    }
    &:hover {
        background-color: #FD5523;
    }
}
.oricom_user-novel_thumb_element {
    border: 1px solid #c1c1c1;
    opacity: 1;
    @include mdc-elevation(1);
    .cover {
        height: 180px;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    & h1 {
        font-size: 0.84rem;
        text-align: center;
    }
    transition: all 250ms;
    &:hover {
        opacity: 0.8;
     }
}

.oricom_novel-topbar {
    width: 100%;
    background-color: #ECECEC;
    display: grid;
    position: relative;
    grid-template-columns: 280px minmax(300px, auto) 210px;
    grid-template-areas: "cover-container identity-container actions-container";
    box-shadow: 0px -10px 30px -15px #000000;
    @media only screen and (min-width: 600px) and (max-width: 970px) {
        grid-template-columns: 280px minmax(300px, auto);
        grid-template-areas: 
            "cover-container identity-container" "actions-container actions-container";
        .actions-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    @media screen and (max-width: 599px) {
        grid-template-columns: repeat(auto-fill, 100%);
        grid-template-areas: 
            "cover-container" "identity-container" "actions-container";
        .identity-container > * {
            margin: 0 auto;
            width: fit-content;
        }
    }
    .cover-container {
        grid-area: cover-container;
        height: 156px;
        .cover {
            height: 240px;
            width: 230px;
            margin: -120px auto;
            border: 2px solid white;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            background-color: white;
            cursor: pointer;
            @include mdc-elevation(2);
            .cover-action {
                opacity: 0;
                transition: opacity 250ms;
                .cover-action-overlay {
                    opacity: 0.5;
                    background-color: white;
                }
                .cover-action-content {
                    i {
                        @include centerer(true, true);
                        text-shadow: 0px 1px 6px #2f2f2f69;
                        font-size: 52px;
                        color : white;
                    }
                }
            }
            &:hover .cover-action {
                opacity: 1;
            }
        }
    }
    .identity-container {
        grid-area: identity-container;
        height: 70px;
        margin: 6px;
    }
    .actions-container {
        grid-area: actions-container;
        height: 50px;
        button {
            margin: 6px;
        }
    }
}

.episode-new {
    & i {
        font-size: 66px;
        color: #f1f0ef;
        @include centerer(true, true)
    }
    & span {
        margin: 10px;
    }
    transition: background-color 250ms;
    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 5px solid #f1f0ef;
    }
    &:hover {
        background-color: #FD5523;
    }
}
.episode-element {
    .actions {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: white;
        box-shadow: 0px 0px 20px 2px #00000036;
        & > * {
            margin : 3px;
            color : gray
        }
    }
    .content {
        position: relative;
        & span {
            color: white;
            font-weight: 600;
            text-shadow: 0px 1px 6px #2f2f2f;
            margin : 10px;
        }
    }
}

.default-action {
    @media screen and (max-width: 970px) {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        margin: 0px;
        padding : 0px;
        z-index: 1;
    }
}

.transitionate {
    transition-property: all;
}

.hide {
    height: 0px;
}